body {
    margin: 0;
    padding: 0;
    background-color: black;
}
.container {
    margin: 40px auto;
    height: 310px;
    width: 250px;
    border: 1px solid rgb(20,179,124);
    box-shadow: 0 0 5px rgb(20, 177, 177);
    display: flex;
    flex-wrap: wrap;
    background-color: #0f0f0f;
    border-radius: 10px;
}
h2 {
    text-align: center;
    color: azure;
}
.lineOne {
    height: 70px;
    width: 100%;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.screen {
    font-size: 25px;
    color: azure;
    height: 30px;
    width: 240px;
    display: flex;
    justify-content: right;
    align-items: center;
    position: absolute;
    top: -10px;
}
.output {
    font-size: 20px;
    color: rgb(160, 177, 177);
    position: absolute;
    left: 10px;
    top: 23px;
    height: 20px;
    width: 228px;
    display: flex;
    justify-content: right;
    align-items: center;
    transition: top 0.5s linear 0s;
}
.box, .equal, .clearBtn {
    height: 50px;
    width: 50px;
    border: 0.1px solid rgb(44,81,33);
    margin: 5px 0 7px 8px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    font-size: 25px;
    cursor: pointer;
}
.box:hover {
    background-color: rgb(20,179,124);
    color: purple;
}
.equal:hover {
    background-color: rgb(20,179,124);
    color: purple;
}
.clearBtn:hover {
    background-color: rgb(20,179,124);
    color: purple;
}
.shadow {
    box-shadow: 0 0 10px lime;
}